[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/drupaldb"]
	path = cookbooks/drupaldb
	url = git@github.com:ianlintner-wf/drupaldb.git
[submodule "cookbooks/chef-dotdeb"]
	path = cookbooks/chef-dotdeb
	url = https://github.com/homemade/chef-dotdeb
